
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>
<h1>Employee Information</h1>
{% if employees %}
<table border="2">
   <tr>
    <th>Employee number</th>
    <th>Employee name</th>
    <th>Employee add</th>
    <th>Employee sal</th>
</tr>
    {%for i in employees %}
    <tr>
        <td>{{i.empno}}</td>
        <td>{{i.empname}}</td>
        <td>{{i.empadd}}</td>
        <td>{{i.empsal}}</td>
    </tr>

{%endfor%}
    </table>
{% else %}
    <p>data not found</p>
{%endif%}

</body>
</html>
